.gift {
  background-color: #68b738d9;
  background-image: url("../../img/catalog/gift-bg.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.gift__description {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  padding: 187px 61px 43px 58px;
  margin: 0;
  margin-top: 35px;
  text-align: center;
}
