.main-logo {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    align-items: flex-start;
    margin-left: 117px;
  }
}

.main-logo__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-image: url("../../img/main-bg.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(104, 183, 56, 0.85);
  padding: 27px 35px 164px;

  @media (min-width: @tablet-width) {
    align-items: flex-start;
    background-image: none;
    background-color: #ffffff;
    padding: 27px 0 50px;
  }
}

.main-logo__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    text-align: left;
    width: 414px;
    margin-bottom: 41px;
  }
}

.main-logo__subtitle {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 0;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    text-align: left;
  }
}

.main-logo__image {
  position: absolute;
  top: 50%;
  left: 30%;

  @media (min-width: @tablet-width) {
    top: 70%;
    left: 60%;
  }

  @media (min-width: @desktop-width) {
    top: 30%;
    left: 110%;
  }
}

.main-logo__button {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  background-color: @green;
  margin-top: 138px;
  padding: 7px 20px;
  width: 240px;

  @media (min-width: @tablet-width) {
    margin: 0 0 526px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 0 267px;
  }
}
