.main-nav {
  display: flex;
  align-items: center;
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.main-nav__item {
  width: 320px;
  padding: 23px 70px;
  border-top: 1px solid #e6e6e6;

  &:last-child {
    border-bottom: 1px solid #e6e6e6;
  }
}

.main-nav__item a {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
}
