.page-footer {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    max-width: 1440px;
  }
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 38px 20px 22px;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding: 58px 30px 55px;
  }

  @media (min-width: @desktop-width) {
    padding: 57px 110px 58px;
  }
}

.page-footer__link {
  padding-bottom: 27px;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: @tablet-width) {
    padding: 0;
    display: block;
  }

  @media (min-width: @desktop-width) {
    img {
      display: block;
    }
  }
}

.page-footer__academy-container {
  display: flex;
  align-items: center;
  padding: 20px 0 0;

  @media (min-width: @tablet-width) {
    padding: 0;
  }
}

.page-footer__academy-link {
  font-family: "Arial", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-decoration: none;
  margin-right: 139px;

  &:hover {
    color: rgba(69, 69, 69, 0.3);
  }

  @media (min-width: @tablet-width) {
    margin-right: 22px;
    width: 115px;
  }
}

.page-footer__academy-link-logo {
  @media (min-width: @tablet-width) {
    svg {
      display: block;
    }
  }

  &:hover {
    svg {
      fill: @green;
    }
  }

  &:active {
    svg {
      fill: rgba(104, 183, 56, 0.3);
    }
  }
}
