.social-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 22px 0 18px;
  width: 100%;

  @media (min-width: @tablet-width) {
    padding: 0;
  }
}


.social-container__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  min-width: 133px;

  &::before {
    position: absolute;
    right: 0;
    left: 0;
    height: 1px;
    bottom: 0;
    background-color: #d9d9d9;
    content: "";
  }

  &::after {
    position: absolute;
    right: 0;
    left: 0;
    height: 1px;
    bottom: 0;
    top: 0;
    background-color: #d9d9d9;
    content: "";
  }

  @media (min-width: @tablet-width) {
    margin-left: 25px;
    justify-content: space-between;

    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }

  @media (min-width: @desctop-width) {
    margin-left: 30px;
  }
}

.social-container__item {
  margin-right: 36px;

  @media (min-width: @tablet-width) {
    margin: 0;

    &:nth-child(1) {
      svg {
        width: 30px;
        height: 32px;
      }
    }

    &:nth-child(2) {
      svg {
        width: 23px;
        height: 23px;
      }
    }

    &:nth-child(3) {
      svg {
        width: 25px;
        height: 30px;
      }
    }
  }

  &:last-child {
    margin-right: 5px;
  }

  &:last-child:hover {
    .social-container__image {
      stroke: @green;
      fill: none;
    }
  }
}

.social-container__link {
  &:hover {
    .social-container__image {
      fill: @green;
    }
  }

  &:active {
    .social-container__image {
      fill: rgba(104, 183, 56, 0.3);
    }
  }
}
